<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <style>
        body {
            text-align: center;
        }

        table {
            width: 30%;
            margin-left: 35%;
        }

        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
{{ if .Exist }}
<h2>Table with all available order IDs</h2>

<p>For more information about order, click on IDs</p>

<table>
    <tr>
        <th>Order IDs</th>
    </tr>
    {{ with .IDs }}
    {{ range . }}
    <tr>
        <td><a href="/orders/{{ . }}">{{ . }}</a></td>
    </tr>
    {{ end }}
    {{ end }}

</table>
{{ else }}
<p>There is no data in app. Start "make data" for adding some data and reload page!</p>
{{ end }}
</body>
</html>